# 🐍 Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.log
*.sqlite3
*.sqlite

# 📦 Virtual environments
venv/
.env/
env/
*.env

# 📂 Project directories
downloads/
__pycache__/
sudo_users.json

# 🐋 Docker
*.pid
*.tar
*.bak
*.tmp
*.swp

# 📜 System / IDE files
.DS_Store
.idea/
.vscode/
*.iml

# 🚀 Git
.gitignore
